.brandProductsContainer{
    display: flex;
    width: 75%;
    justify-content: center;
}

.cardProductsbrandsContainer{
    display: flex;
    width: auto;
}

.cardProductsDiv{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 0.5vw;
    gap: 0.5vw;
    flex-direction: row;
}

@media (min-width: 960px) and (max-width: 1279px) {
    .brandProductsContainer{
        width: 85%;
    }

    .cardProductsDiv{
        width: 62%;
    }
}

@media (max-width: 959px) {

    .brandProductsContainer{
        width: 95%;
    }

    .cardProductsDiv{
        width: 100%; 
        justify-content: center;
    }

}