.scp-App-choose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.scp-main-choose {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background: rgba(36, 48, 60, 0.8);
    top: 0;
    left: 0;
    z-index: 5;
}

.scp-main-div-top-edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scp-choose-main-div {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background: rgba(36, 48, 60, 2.8);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.scp-close-popup-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
 /* EDIT */
.scp-close-popup-div-edit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scp-choose-edit-input-div{
    width: 100%;
    height: 90%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.editOptionsContainer {
    width: 80%;
    height: 70%;
    overflow-y: auto;
    padding: 10px; 
    border-radius: 5px; 
}

.arrowExitEdit{
    padding: 0% 2%;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}
.arrowExitEdit:hover{
    color: #888;
}

/**/
.scp-close-popup-div p{
    padding: 0 2%;
    color: white;
    cursor: pointer;
}

.scp-close-popup-div-edit p{
    padding: 0 2%;
    color: white;
    cursor: pointer;
}

.scp-close-popup-div-edit p:hover{
    font-weight: 600;
    color: red;
    box-shadow: (7px 7px 7px rgba(0, 0, 0, 0.8));
}

.scp-close-popup-div p:hover{
    font-weight: 600;
    color: red;
    box-shadow: (7px 7px 7px rgba(0, 0, 0, 0.8));
}

/* COLOR */
.scp-advice-sell-car {
    width: 100%;
    border-top: 1px solid;
    height: auto;
    display: flex;
    bottom: 0;
    position: sticky;
    height: 13%;
    /* background-color: white; */
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(36, 48, 60, 2.8);
}

.scp-advice-sell-car h3{
    font-size: 1.9rem;
    padding: 1%;
    font-weight: 500;
}
.scp-button-sell-car-submit{
width: 15vw;
height: 2.5vw;
cursor: pointer;
border-radius: 6px;
border: 0px;
}
.scp-button-sell-car-cancel{
    width: 15vw;
    height: 2.5vw;
    cursor: pointer;
    background-color: red;
    border: 0px;
    border-radius: 6px;   
}
.scp-advice-button-sell-car{
    display: flex;
    justify-content: space-around;
    width: 55%;
    padding-bottom: 1%;
}
.scp-main-div-top-color {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.scp-choose-color-name-div{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 3%;
}
.scp-main-color-input-div{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.scp-name-input-color{
    width: 96%;
    height: 2vw;
    border-radius: 3px;
    border: 0px;
}
.scp-name-input-color:focus-visible{
   outline: none;
}
.scp-code-input-color{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px;
    border: none;
    transition: transform 0.2s;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
  }
  .scp-code-input-color::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  .scp-code-input-color::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }
.scp-button-color{
    width: 30%;
    height: 2vw;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
}
.scp-button-color:hover{
    box-shadow: (7px 7px 7px rgba(0, 0, 0, 0.8));
    background-color: rgb(203, 198, 198);
    font-weight: 500;
}

.colorEditContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid;
}

.colorEditName{
    font-weight: 500;
}


.circle {
    display: inline-block;
    width: 30px;
    /* Ancho del círculo */
    height: 30px;
    /* Altura del círculo */
    border-radius: 50%;
    /* Hacerlo circular */
    margin-right: 10px;
    /* Espacio entre círculos */
    cursor: pointer;
    margin-right: 8px;
}

.colorDetailContainer{
    display: flex;
}



  .colorEditOptionsContainer::-webkit-scrollbar {
    width: 12px;
  }
  
  .colorEditOptionsContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px; 
  }
  
  .colorEditOptionsContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .trashColor {
    cursor: pointer;
    transition: transform 0.2s; /* Aplica una transición suave a la propiedad transform */
    transition: color 0.2s;
  }
  
  .trashColor:hover {
    transform: scale(1.1); /* Agrandará el elemento al 110% del tamaño original en hover */
    color: red; /* Cambiará el color a rojo en hover */
  }
  
  .sellCarImageProps img {
    min-width: 150px;
    max-width: 300px;
    max-height: 169px;
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
}

.sellCarImageProps {
    margin: 10px;
}

.sellCarPropsInfoImageContainer{
    display: flex;
    width: 100%;
    overflow: auto;
}

.sellCarPropsInfoContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sellCarPropsInfoRow1 {
    width: 40%;
}

.sellCarPropsInfoRow2 {
    width: 40%;
}

.sellCarPropsInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    background-color: rebeccapurple;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.sellCarPropsInfo h1{
    margin: 0px;
    font-weight: 700;
    font-size: 1.8rem;
}

.sellCarPropsInfo h3{
    font-weight: 500;
    font-size: 1.2rem;
}



.sellCarPropsInfoPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}


@media (max-width: 724px) {
    .scp-choose-main-div {
        width: 80%;
        height: 70%;
    }
}
@media (max-width: 1200px) {
    .scp-choose-main-div {
        width: 80%;
        height: 70%;
    }
}