.productsImage{
    width: 300px;
    height:200px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin: 20px;
    background-color: bisque;
    flex-direction: column;
}

.productsComponent{
    width: 70%;
    box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
    background-color: silver;
    border-radius: 15px;    
}

.allProductsContainer{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
}

.productsInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 4%;
}

.productsDescription{
    display: flex;
    padding: 0% 4%;
}
.productsDescription p{
    margin: 0 2%;

}

.divider{
        border-left: 1px solid #000; /* Adjust thickness and color as needed */
        height: 50%;
      
}


@media (max-width: 959px){
    .productsImage{
        width: 20%;
        height: 100%;
        object-fit: cover;
    }

    .products{
        width: 100%;
        flex-direction: row;
    }
}