.buyCar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
}

@media (min-width: 960px) and (max-width: 1279px) {
        .buyCar{
            padding-top: 80px;
        }
        }
    
    @media (max-width: 960px){
        .buyCar{
            padding-top: 100px;
        }
    }