.brandDetailImage{
    width: 30px;
}

.allProductDetailContainer{
    width: 75%;
}

.productDetailInfoName{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 4%;
}

.productDetailContainer{
        height: auto;
        display: flex;
        width: 25vw;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        background-color: #bababa;
        margin-left: 1%;
        border-radius: 8px;
}

.productDetailBrand{
    font-weight: 600;
}

.productDetailModel{
    margin-left: 5%;
    white-space: nowrap;
    font-weight: 300;
}

.productDetailLineContainer{
    display: flex
}

.image-carousel{
position: relative;
}

.prevButtonDetail,
.nextButtonDetail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.5rem;
  background: transparent;
  background-color: rgba(255, 242, 242, 0.692);
  border: none;
  cursor: pointer;
}

.prevButtonDetail {
  left: 10px;
}

.nextButtonDetail {
  right: 10px;
}

.productsImageDetail{
    width: 50vw;
    object-fit: cover;
    height: 100%;
    min-height: 30vw;
    max-height: 30vw;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}

.productRelatedTitle{
    margin: 0.2% 0%;
    font-size: 1.7rem;
}

.productDetail{
    display: flex;
}

.productDetailInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 3%;
    background-color: #d3d3d3;
    border-radius: 7px;
}

.productDetailInfo h2{
    margin: 3%;
    font-weight: 600;
}

.productDetailInfo h3{
    margin: 2%;
    font-weight: 400;
}

.productDetailDescriptionContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.productDetailDescription{
    width: 88%;
}

.productDetailDescription h2{
margin: 1% 0px;
}

.productDetailDescription h3{
    font-weight: 300;
}

.productDetailPriceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.productDetailPrice{
    width: 88%;
    display: flex;
}

.productDetailPrice h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
    margin: 2% 0%;
}

.productDetailButtonWp{
    width: 88%;
}

.productDetailButtonWpcontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}

.whatsappButton{
    width: 100%;
    height: 2.5vw;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #25D366;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatsappIcon{
    padding-right: 4px;
}

.productDetailButtonFavcontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}

.productDetailButtonFav{
    width: 88%;
}

.productDetailMoreInfoContainer {
    width: 50vw;
    background-color: #bababab5;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: inset 0px -38px 26px 0px rgba(0,0,0,0.1);
}

.productDetailMoreInfoBox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.productDetailMoreInfoDiv{
    width: 30%;
    display: flex;
    font-weight: 100;
    justify-content: center;
    background-color: gray;
    padding: 5px 0px;
    border-radius: 5px;
}

.productDetailMoreInfoDiv h1{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0px;
}

.productDetailMoreInfoRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.productDetailMoreInfoOpentxt{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.productDetailMoreInfoOpen{
    display: flex;
}

.arrowMoreInfo{
    font-size: 1.5rem;
}



.favButton{
    width: 100%;
    height: 2.5vw;
    margin-top: 0.5%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #d81414;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productRelatedContainer{
      /* display: flex; */
    /* width: 100%; */
    /* gap: 0.8%; */
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(5, 19.65%);
    gap: 0.5%;
    width: 100%;
}

#productPriceOldDetail{
    font-weight: 150;
    opacity: 0.7;
    padding-left: 2%;
}

.line-throw-detail{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

@media (min-width: 960px) and (max-width: 1279px) {
.productDetail{
    flex-direction: column;
}

.productsImageDetail{
    min-width: 74vw;
    max-height: 38vw;
}

.productDetailContainer{
    margin-left: 0px;
    width: 100%;
    margin-top: 2%;
}

.productDetailInfo h2{
    margin: 1%;
}

.productDetailInfoName{
    margin-top: 1%;
}

.favButton{
    margin-bottom: 2%;
    height: 3.5vw;
    margin-top: 1%;
}

.whatsappButton{
    height: 3.5vw;
}

}

@media (max-width: 960px) {
    .allProductDetailContainer{
        width: 95%;
    }
    
    .productDetail{
        flex-direction: column;
    }
    
    .productsImageDetail{
        width: 95vw;
        max-height: 50vw;
    }
    
    .productDetailContainer{
        margin-left: 0px;
        width: 100%;
        margin-top: 2%;
    }
    
    .productDetailInfo h2{
        margin: 1%;
    }
    
    .productDetailInfoName{
        margin-top: 1%;
    }
    
    .favButton{
        margin-bottom: 2%;
        height: 45px;
        margin-top: 1%;
    }
    
    .whatsappButton{
        height: 45px;
    }
    
    .productRelatedContainer{
    display: flex;
    width: 100%;
    gap: 1.5%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    }