.filterComponent {
    width: 30%;
    display: flex;
}

.filterContainer {
    background-color: #877a7a7d;
    padding: 0.8vw;
    border-radius: 8px;
    height: fit-content;
    position: fixed;
    width: 20vw;
}

.filterNameSelect{
    margin: 4% 0%;
    width: 100%;
    display: flex;
    justify-content: center

}

.exitOptions{
    height: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filterOptions{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid;
}

.puto{
    display: none;
}

.inputSearch {
    width: 98%;
    height: 1.4vw;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px #9b979754 solid;
}


/* Brand */
.modelsInputDiv-hidden {
    display: none;
}

.modelsInputDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: slideInFromLeft 0.3s ease-in-out; 
}

.modelsInputDivactive{
    transform: translateX(0%);
    animation: slideInFromLeft 0.3s ease-in-out; 
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(70%);
    }
    to {
      transform: translateX(0);
    }
  }

.scrollable-content {
        width: 100%;
        width: calc(100% - -15px);
        border-bottom: 1px solid gray;
        overflow-y: scroll;
        /* overflow: scroll; */
        max-height: 39.5vw;
}

.scrollable-content::-webkit-scrollbar {
    width: 10px;
    /* Adjust the width of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
}

/* Show scrollbar on hover */
.scrollable-content:hover::-webkit-scrollbar-thumb {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}


.modelDivCheckbox {
    display: flex;
    width: 98%;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    margin: 2% 0%;
}

.modelDivCheckbox:hover{
    background-color: #55555533;
}

.modelDivCheckbox p{
    margin: 2% 0px;
    display: flex;
    align-items: center;
}

label{
    display: none;
}

.logoBrandFilter{
    width: 2.2vw;
    height: 2.2vw;
    object-fit: cover;
    padding-right: 1%;
    display: none;
}

.brandModels{
    display: flex;
    flex-direction: column;
}

.filterModlesBrandName {
    display: flex;
    border-bottom: 1px dashed gray;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.filterModelsNameshideOptions {
    display: none;
}

.filterModlesBrandNameexpanded{
    display: flex;
    border-bottom: 1px dashed gray;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon{
    padding-right: 3px;
    transition: transform 0.3s ease;
}

.arrow-iconexpanded{
    padding-right: 3px;
}


.modelNameFilter{
    margin: 10px 0px;
}



.filterModelsNames{
    display: flex;
    flex-direction: column;
}

.filterModelsNameDiv{
    display: flex;
    cursor: pointer;
}

.filterModelsNameDiv:hover{
    background-color: #5555554f;
}

.inputYear {
    width: 95%;
    height: 1.4vw;
    border: none;
    border-radius: 4px;
    border: 1px #9b979754 solid;
}

.dateContainer {
    display: flex;
    justify-content: space-between;
}

.inputKM {
    width: 95%;
    height: 1.4vw;
    border: none;
    border-radius: 4px;
    border: 1px #9b979754 solid;
}

.kmContainer {
    display: flex;
    justify-content: space-between;
}

.inputPrice {
    width: 95%;
    height: 1.4vw;
    border: none;
    border-radius: 4px;
    border: 1px #9b979754 solid;
}

.inputTransmision{
    width: 100%;
    height: 1.4vw;
    border: none;
    border-radius: 4px;
    border: 1px #9b979754 solid;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
}

.selectBrands {
    width: 98%;
    height: 1.4vw;
    border-radius: 4px;
    border: 0px;
}

.selectColor {
    width: 98%;
    height: 1.4vw;
    border-radius: 4px;
    border: 0px;
    border: 1px #9b979754 solid;
}

.circle {
    display: inline-block;
    width: 30px;
    /* Ancho del círculo */
    height: 30px;
    /* Altura del círculo */
    border-radius: 50%;
    /* Hacerlo circular */
    margin-right: 10px;
    /* Espacio entre círculos */
    cursor: pointer;
}

.selected-brand {
    border: 2px solid #007bff;
    transition: border-color 0.3s ease; 
    border-radius: 10px;
    margin: 2% 0%;
    box-sizing: border-box;
}

.checkBoxBrand{
    display: none;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: gray;
}

.blue {
    background-color: blue;
}


.filterName {
    margin: 2% 0%;
    font-weight: 600;
}

.filterNameOption{
    margin: 2% 0%;
    padding: 2.5% 0%;
    border-radius: 3px;
}

.filterNameOption:hover{
background-color: #55555523;
cursor: pointer;
}

.filterTitle {
    display: flex;
    margin: 0px;
}

.onSaleFilter h4 {
    margin: 0px;
}

.onSaleFilter {
    padding: 1%;
    width: 97%;
    margin: 6% 0%;
    background-color: #5858589a;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.checkbox-wrapper-64 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

.checkbox-wrapper-64 input:checked+.slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.arrow {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    cursor: pointer;
  }
  
  .arrow:hover {
    border-color: gray;
    border-width: 5px;
  }
  
  .arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
  }
  
  .arrow.prev {
    transform: rotate(-45deg);
    left: 20px;
  }
  

@media (min-width: 960px) and (max-width: 1279px) {
    .filterComponent {
        width: 32%;
    }

    .filterContainer{
        width: 24.5vw;
    }
}

@media (max-width: 960px) {
    .filterComponent {
        width: 0%;
        display: none;
    }
}