.userSelectedBlockContent{
    width: 71%;
    background-color: rgb(250, 250, 250);
    max-height: 38vw;
    min-height: 28vw;
    border-radius: 10px;
    position: relative;
}

.userSelectedBlockBox{
    width: 75%;
    display: flex;
    justify-content: flex-end  
}

.userInfoTitle{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-54%);
    padding: 3px 15px;
    border-radius: 10px;
    background-color: rgb(171, 172, 172);
    border: 4px solid white;
    font-weight: 600;
}