h3{
    margin: 0px;
}

.productsImageRelated{
    min-width: 14.5vw;
    max-width: 29vw;
    max-height: 3vw;
    min-height: 8vw;
}


.productInfoContainerRelated{
    display: flex;
    justify-content: space-between;
    margin: 2% 3%;
}

.productDescriptionContainer{
    display: flex;
    margin: 2% 3%;
}

.productDescriptionContainer h3{
    font-weight: 500;
}

.productInfoContainerBrands h3{
    font-weight: 700;
}

.productsArticle {
    background-color:#f0f5f2;
    border-radius: 3px;
    position: relative; /* Agregar posición relativa */
    overflow: hidden; /* Ocultar el borde dibujado fuera del contenedor */
    cursor: pointer;
    height: max-content;
    transition: background-color 0.3s linear;
}

.productsArticle:hover {
    background-color: #c6cac8f3; /* Color transparentoso en hover */
    transform: translateY(-5px);
    opacity: 1;
}

.productsArticle:hover .prevButton{
    display: block;
}

.productsArticle:hover .heart{
    display: block;
}

.productsArticle:hover .nextButton{
    display: block;
}

.image-carousel{
position: relative;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: transparent;
  background-color: rgba(255, 242, 242, 0.692);
  border: none;
  cursor: pointer;
  display: none;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}


#productPriceBra{
    padding: 1%;
    background-color: rgba(209, 209, 92, 0.815);
}

#productYear{
    padding-left: 10px;
}


@media (min-width: 960px) and (max-width: 1279px) {
    .productsImageRelated {
        min-width: 25.5vw;
        max-width: 14vw;
        max-height: 12vw;
        min-height: 16vw;
    }
    
}

@media (max-width: 960px){
    .productsImageRelated {
        max-width: 4vw;
        min-width: 40vw;
        min-height: 31vw;
        height: 100%;
    }  

    .productInfoContainerRelated h3 {
        font-size: 1.3rem;
    }

    .productsArticle{
        padding: 10px;
    }

    .productInfoContainerRelated{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}