.image-carouselDetail{
    position: relative;
    display: flex;
}

.heart{
    position: absolute;
    left: 5px;
    font-size: 1.2rem;
    top: 5px;
    padding: 0.5vw;
    background-color: burlywood;
    border-radius: 30px;
    display: none;
}

.thumbnail {
    width: 4.8vw;
    height: 4.10;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
    max-height: 5vw;
    user-select: none;
  }
  
.thumbnail.selected {
    opacity: 1;
    border: 2px solid blue; /* Puedes personalizar el estilo de la imagen seleccionada */
  }

.image-thumbnails{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    background-color: #0000005c;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
}