.userInformationContainer {
    width: 75%;
    position: relative;
  }
  
  .userInformationContent {
    width: 25%;
    background-color: #fff;
    padding: 1%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    text-align: center;
  }
  
  .userInformationProfileImage {
    width: 60px;
    height: 60px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 51%;
    transform: translateX(-50%);
    background-color: #000000bf;
  }
  
  .userInformationOptionContainer {
    margin-top: 20px;
    /* margin: 0; */
    padding: 0;
    list-style: none;
  }
  
  .userInformationOption {
    list-style: none;
    margin: 2% 0px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .userInformationOption-active{
    list-style: none;
    margin: 2% 0px;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(71, 94, 210);
  }
  
  .userInformationOption:hover {
    color: rgba(47, 41, 41, 0.583);
  }
