.loggin{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-position: center;
                background-color: aqua;
}
