.logginForm{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: #949396;
    padding: 0px 4%;
    z-index: 5;
    width: 38.2%;
    justify-content: center;
    border-radius: 6px 0px 0px 6px;
    box-shadow: -39px 0px 34px 0px rgba(0,0,0,0.1);
}

.inputError{
  height: 2vw;
  border-radius: 5px;
  border: 1px solid red;
  font-size: 1.1rem;
  width: 100%;
}

.inputError:hover{
  height: 2vw;
  border-radius: 5px;
  border: 1px solid red;
  font-size: 1.1rem;
}

.logginForm input:focus{ 
  border-color: rgb(54, 50, 50); /* Cambia el color del borde al estar enfocado */
  border-width: 15px;
  border: 1px solid rgb(34, 32, 32); /* Cambia el grosor del borde al estar enfocado */
  outline: none;
}


.logginInputContent{
        display: flex;
        flex-direction: column;
        padding: 3% 0%;
        position: relative;
}

.logginComponent {
  border-radius: 6px;
  position: absolute;
  /* top: 50%; */
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  /*background-image: url("https://i.pinimg.com/originals/ec/45/ea/ec45eaef22ce931b6aa110d035fa724e.jpg");*/
  background-image: url("https://w.wallha.com/ws/10/zs1GA36p.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-shadow: 0px 0px 47px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 47px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 47px -10px rgba(0,0,0,0.75);
}

.inputSession{
        height: 2vw;
        border-radius: 5px;
        border: 0px;
        font-size: 1.1rem;
        width: 100%;
}

.logginForm label{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1% 0%;
}

.bannerLogin {
  width: 100%;
  height: 100%;
}


.backgroundImageBanner{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 6px 0px 0px 6px;
}

.bannerLoginContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: #000000a1;
  justify-content: space-around;
  position: relative;
}

.titleForm{
  display: flex;
  justify-content: center;
  font-weight: 200;
  margin-top: 0px;
  font-weight: 600;
}

.bannerText{
  font-weight: 200;
  color: wheat;
  font-size: x-large;
}

.bannerImage{
  width: 12vw;
}

.boldTitle{
  font-weight: 400;
}

.rememberMe h4{
margin: 0px;
font-weight: 600;
}

.rememberMe {
        padding: 2%;
        margin: 6% 0%;
        background-color: #5858589a;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.button-87 {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  width: 100%;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #0e0d0d 0%, #199af0  51%, #5f5b5a  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.checkbox-wrapper-64 input[type="checkbox"] {
        visibility: hidden;
        display: none;
      }
    
      .checkbox-wrapper-64 *,
      .checkbox-wrapper-64 ::after,
      .checkbox-wrapper-64 ::before {
        box-sizing: border-box;
      }
    
      /* The switch - the box around the slider */
      .checkbox-wrapper-64 .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
      }
    
      /* Hide default HTML checkbox */
      .checkbox-wrapper-64 .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    
      /* The slider */
      .checkbox-wrapper-64 .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #adb5bd;
        transition: .4s;
        border-radius: 30px;
      }
    
      .checkbox-wrapper-64 .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #adb5bd;
        transition: .4s;
      }
    
      .checkbox-wrapper-64 input:checked + .slider {
        background-color: #007bff;
        border: 1px solid #007bff;
      }
    
      .checkbox-wrapper-64 input:focus + .slider {
        box-shadow: 0 0 1px #007bff;
      }
    
      .checkbox-wrapper-64 input:checked + .slider:before {
        transform: translateX(1.4em);
        background-color: #fff;
      }

      @media (min-width: 960px) and (max-width: 1279px) {
        .logginForm {
          display: flex;
          flex-direction: column;
          padding-left: 30px;
          background-color: #949396;
          padding: 0px 4%;
          z-index: 5;
          width: 25vw;
          justify-content: center;
          border-radius: 0px 6px 6px 0px;
      }

      .bannerLogin {
        width: 35vw;
        height: 45vw;
        background: rgb(62,61,61);
        background: linear-gradient(205deg, rgba(62,61,61,1) 16%, rgba(154,179,174,1) 84%);
        position: relative;
      }

      .inputError:hover {
        height: 3vw;
        border-radius: 5px;
        border: 1px solid red;
        font-size: 1.1rem;
      }

      .inputError {
        height: 3vw;
        border-radius: 5px;
        border: 1px solid red;
        font-size: 1.1rem;
        
      }

      .inputSession {
        height: 3vw;
        border-radius: 5px;
        border: 0px;
        font-size: 1.1rem;
      }
      
      .bannerImage{
        width: 15vw;
      }
      }

      @media (max-width: 959px) {
        .bannerLogin{
          display: none;
        }
        
        .logginForm{
          width: 100%;
        }

        .logginComponent{
          width: 100%;
          height: 100%;
        }

        .inputSession{
          height:7vw;
        }
        
        .inputError:hover{
          height: 7vw;
        }

        .inputError{
          height: 7vw;
        }
      }