/************ Image upload ************/

.sellCarImageContainerTitle {
  text-align: center;
  min-width: 70vw;
  max-width: 70vw;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  flex-direction: column;
}

.sellCarImageContainer{
 display: flex;
 align-items: center;
 overflow: auto;
}

.sellCarImageContainer::-webkit-scrollbar {
  width: 12px;
}

.sellCarImageContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px; 
}

.sellCarImageContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  
  .sellCarImageTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    display: flex;
  }
  
  .sellCarImageError {
    display: none;
    color: red;
    font-size: 14px;
    margin: 5px 0;
  }


  .sellCarImagePreview {
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .imageC{
    display: flex;
  }
  
  .sellCarImagePreview img {
    min-width: 150px;
    max-width: 170px;
    max-height: 169px;
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
  }
  
  .sellCarImagePreview a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .sellCarImagePreview a:hover {
    background-color: #ff0000;
    color: #fff;
  }

  .sellCarUploadTitle{
    font-size: 1rem;
    padding: 10px 0px;
    margin: 0px;
  }
  
  .sellCarImageSection label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px dashed #007bff;
    cursor: pointer;
    display: none;
  }
  
  .sellCarImageSection label i {
    font-size: 36px;
    color: #007bff;
  }

.file-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px; /* Ancho del cuadrado */
    height: 170px; /* Altura del cuadrado */
    border: 2px solid #6c7c8d; /* Borde punteado y color azul */
    cursor: pointer;
    font-size: 36px;
    color: #007bff;
    flex-direction: column;
    background-color: #6d6d6d00;
    transition: ease-in background-color 0.3s;
    border-radius: 5px;
  }
  .file-upload-label-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px; /* Ancho del cuadrado */
    height: 170px; /* Altura del cuadrado */
    border: 2px solid red; /* Borde punteado y color azul */
    cursor: pointer;
    font-size: 36px;
    color: red;
    flex-direction: column;
    background-color: #6d6d6d00;
    transition: ease-in background-color 0.3s;
    border-radius: 5px;
  }

  .file-upload-label:hover{
    background-color: #c2c2c2;
  }
  
  .file-upload-input {
    display: none;
  }

  .sellCarXmark{
    color: black;
  }

/**************************************************/

#sellCarInputContainer{
  display: flex;
  flex-direction: column;
  width: 97%;
  margin-top: 3%;
}

#sellCarInput{
 width: auto;
 height: 30px;
 font-size: 1.05rem;
 border: 0px; 
 border-radius: 3px;
}
#sellCarInputError{
  width: auto;
  height: 30px;
  font-size: 1.05rem;
  border: 0px; 
  border-radius: 3px;
  border: 1px solid red;
 }

#sellCarInput::-webkit-inner-spin-button,
#sellCarInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sellCarSelect{
  width: auto;
  height: 33px;
  border: 0px;
  border-radius: 3px;
  font-size: 1.05rem;
}
#sellCarSelectError{
  width: auto;
  height: 33px;
  border: 1px solid red;
  border-radius: 3px;
  font-size: 1.05rem;
}

.SellCarHideOption{
  display: none;
}

.rowOne{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowTwo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sellCarPriceIcon{
  margin: 0px;
  position: absolute;
  right: 9px;
  top: 48%;
}

.sellCarDiscountIcon{
  margin: 0px;
  position: absolute;
  right: 6px;
  top: 48%;
}

.sellCarPriceInputContainer{
  position: relative;
}

.sellCarDiscountInputContainer{
  position: relative;
}

.sellCarButtonBox{
  padding: 10px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: #818181;
  border-radius: 5px;
  align-items: center;
  transition: linear 0.2s background-color;
  transition: linear 0.3s position;
}

.sellCarPublishButton{
  margin-right: 1%;
  width: 200px;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6c7c8dc9;
}

.sellCarPublishButton:hover{
  background-color: #6c7c8d;
}

.sellCarProductDetail {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-right: 1%;
}

.sellCarBrandNameDetail{
  margin: 0px;
  font-weight: 700;
  font-size: 1.4rem;
}

.sellCarModelNameDetail{
    margin: 0px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 5%;
    white-space: nowrap;
}

.sellCarNamesContainer{
  display: flex;
}

.sellCarPriceDetail{
  font-weight: 600;
}

.sellCarButtonBoxsticky{
  padding: 10px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: #818181;
  border-radius: 5px;
  align-items: center;
  transition: linear 0.2s background-color;
  transition: linear 0.3s position;
}


.sellCarAdminSection{
  width: 100%;
  display: flex;
  background-color: #333333e6;
  border-radius: 5px;
  padding: 1.3% 0%;
  margin: 1.5% 0%;
  flex-direction: column;
}

.sellCarAdminButtons{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#sellCarAdminInput{
  width: 25%;
  height: 30px;
  font-size: 1.05rem;
  border: 0px; 
  border-radius: 3px;
  cursor: pointer;
}

#sellCarAdminInput:hover{
  background-color: #ddd9d9c3;
}

.sellCarAdminTitle{
  width: 92%;
  margin: 0%;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.5%;
  margin-bottom: 1%;
  border-bottom: 2px solid rgba(254, 254, 254, 0.676);
  color: rgb(241, 241, 241);
}

.sellCarAdminTitleContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

/******** ERRORS  ***************************/
.errorBlock-div{
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  background-color:rgb(180 47 47 / 12%);
}
.iconError{
  margin-left: 2%;
  background-color: red;
  color: white;
  padding: 0.5% 1%;
  border-radius: 100%;
  font-weight: 600;
}
.errorBlock-msg{
  margin-left: 2% ;
}
/********************************************/


@media (max-width: 1300px) {
  .sellCarButtonBoxsticky{
    padding: 10px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    background-color: #818181;
    border-radius: 5px;
    align-items: center;
    transition: linear 0.2s background-color;
    transition: linear 0.3s position;
  }

  @media (max-width: 960px) {
    .flexRow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3%;
      flex-direction: column;
  }

  .rowOne{
    width: 100%;
  }

  .rowTwo{
    width: 100%;
  }

  .sellCarButtonBoxsticky{
    width: 75%;
    z-index: 3;
    position: fixed;
    padding: 10px;
    display: flex;
    bottom: 4%;
    margin-bottom: 30px;
    justify-content: space-between;
    background-color: #818181a1;
    transition: linear 0.2s background-color;
    transition: linear 0.3s position;
    border-radius: 5px;
    align-items: center;
  }

  .sellCarPublishButton{
    width: 20vw;
  }

  .sellCarBrandNameDetail{
    font-size: 1.1rem;
  }

  .sellCarModelNameDetail{
    font-size: 1.1rem;
  }

  .sellCarPriceDetail{
    font-size: 1.1rem;
  }
  
  }
}