.brandsComponent {
        width: 100%;
        overflow-x: scroll;
        padding: 1.6% 0;
        margin: 1%;
        -webkit-box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        -moz-box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        background-color: silver;
        
  }
  
  .brandsContainer {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  .brandName{
    display: none;
  }
  
  .brand {
    flex: 0 0 auto;
    width: 200px;
    padding: 0% 1%;
    transition: transform 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.brandsTitle{
  margin: 0px;
  margin: 0px 3%;
  position: sticky;
  top: 0;
  z-index: 3;
  font-size: 1.7rem;
}

.brandImage {
    width: 100%;
    height: 150px;
    object-fit: contain;
   
}

 .brand:hover{
    cursor: pointer;
}

.brand:hover .brandImage{
    transform: scale(0.8);

}

.arrow {
  width: 30px;
  height: 30px;
  background-image: ('1283.png'); /* Reemplaza 'ruta_de_la_imagen_flecha.png' con la ruta de la imagen de la flecha */
  cursor: pointer;
  z-index: 2;
}

.brand:hover .brandName{
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Customize the scrollbar */
.brandsComponent::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px;
}

.brandsComponent::-webkit-scrollbar-track {
  background: #f1f1f100; /* Background color of the scrollbar track */

}

.brandsComponent::-webkit-scrollbar-thumb {
  background: #000000a9; /* Color of the scrollbar thumb */
  border-radius: 200px;
}

.brandsComponent::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */

}

@media screen and (min-width: 724px) {
    .brandsComponent {
        width: 70%;
        overflow-x: scroll;
        padding: 1% 0;
        margin: 1%;
        -webkit-box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        -moz-box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        box-shadow: inset -1px -1px 22px 13px rgba(0,0,0,0.41);
        background-color: silver;
        border-radius: 15px;
        height: 100%;
  }
  }