:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(224, 218, 218);
  min-height: 100%;
  position: relative;
  
}

body{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 3%;
}

