:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(29,28,25);
  background: linear-gradient(205deg, #3a7d8e 0%, rgba(0,0,0,1) 100%);
  min-height: 100%;
  position: relative;
  
}

body{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 3%;
}

