h3{
    margin: 0px;
}

.productsImage {
    min-width: 11vw;
    max-width: 7vw;
    object-fit: cover;
    max-height: 10vw;
    min-height: 10vw;
}


.productInfoContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 2.5%;
}

.productInfoTop{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.productInfoBrandImg{
    max-width: 30px;
    object-fit: cover;
}

.productInfoPriceContainer{
    width: 100%;
    display: flex;
}

.productInfoNameBrand{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.productInfoNameBrand h3{
 font-weight: 700;
}

.productDescriptionContainer{
    display: flex;
    margin: 2% 3%;
}

.productDescriptionContainer h3{
    font-weight: 500;
}

.productInfoYearContainer h3{
font-weight: 400;
}



.productsArticle:hover .prevButton{
    display: block;
}

.productsArticle:hover .heart{
    display: block;
}

.productsArticleHome:hover .prevButton{
    display: block;
}

.productsArticleHome:hover #productPriceOld{
    opacity: 1;
}

.productsArticleHome:hover .heart{
    display: block;
}

.productsArticleHome:hover .nextButton{
    display: block;
}

.productsArticle:hover .nextButton{
    display: block;
}

.image-carousel{
position: relative;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: transparent;
  background-color: rgba(255, 242, 242, 0.692);
  border: none;
  cursor: pointer;
  display: none;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}


#productPriceOld{
    padding: 2%;
    font-size: medium;
    font-weight: 150;
    opacity: 0;
    transition: opacity 0.3s ease
}

#productPriceNew{
    padding: 2%;
    font-size: medium;
    font-weight: 700;
}

.line-throw{
    text-decoration: line-through;
    color: #999;
}


#productYear{
    padding-left: 10px;
}


.productsArticleHome {
    background-color: #fffefe;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 32%;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease-in;
}

.productsArticleHome:hover{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.productDescriptionContainerHome{
    display: none;
}



@media (min-width: 960px) and (max-width: 1279px) {
    .productsImage {
        min-width: 17vw;
        max-width: 7vw;
        max-height: 10vw;
        min-height: 11vw;
    }
    
    .productsArticleHome{
        width: 49.7%;
    }
    
}

@media (max-width: 960px){
    .productsImage {
        max-width: 4vw;
        min-width: 44vw;
        min-height: 31vw;
        height: 100%;
    }  

    .productInfoContainer h3 {
        font-size: 1.3rem;
    }

    .productsArticleHome {
        width: 95%;
        display: flex;
    }

    .productInfoContainer{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}